<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tasks</title>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.11/dist/htmx.min.js" integrity="sha384-2OatzQy1H+Zd/IIrjr1TcuDGqLXeHhbooAyJY1KdQMKnr4LZ22k31GBLdYKHmVjg" crossorigin="anonymous"></script>
  </head>
  <body>
    <h1>Tasks</h1>

    <ul id="task-list">
      {{range .}}
      <li>{{.}}</li>
      {{end}}
    </ul>

    <form hx-post="/tasks" hx-target="#task-list" hx-swap="beforeend">
      <input type="text" name="title">
      <button type="submit">Add Task</button>
    </form>
  </body>
</html>
